

*{
    padding: 0;
    margin: 0;

    overflow-x: hidden;   
    box-sizing: border-box;
}



p,h1,h2,a,h3,h4,h5,i,h6, div{
    overflow-y: hidden;
}

body{
    background-color: #f3f7f9 !important;
}


.header-section{

    background-image: url('./bg1.png');
    background-size: cover;
    background-position: right  bottom 90% ;
    background-color: #f3f7f9 ;
   
    
}

#navbg{
    background-color: rgba(158, 158, 158, 0.124);
    padding-bottom: 1%;

  
}

.over, .wood{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif
}

.over{
    color: #23d3d3;
}
.wood{
    color:#1e266d;
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}  

.nav-link:hover::after{
    width: 100%;
}

#menu-list li a{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
}

.dropdown-menu{
    background-color:#1e266d; 
}

#login{
    padding: 10px 43px 9px 43px ;
    color: white;
    border: 2px solid white ;
    border-radius: 25px ;
}

#login:hover{
    transition: ease-in 0.3s background-color;
    transition: ease-in 0.3s color;

    background-color: white;
    color: #23d3d3 ;
    border: 2px solid #23d3d3;
}

#signup{
    padding: 10px 43px 10px 43px;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    background: #1e266d;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
    border-radius: 25px;

}

#signup:hover{
    transition: ease-in 0.3s background-color;
    transition: ease-in 0.3s color;

    background-color: transparent;
    border: 2px solid white;
    color:white;
}

.first-section{
    width:100%;
    padding-top:15%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: row;
    background-color: #cdcfe12e; 
   
}
    
    .slider-part{
        width: 40%;
     
        padding-left: 2%;
        font-family: 'Lato', sans-serif;
    }

    .image-side{
        width:60%; 
      display: flex;
      justify-content: center;
    }

    .image-side img{
        width:auto;        
    }

    

    

    .card-slide{
        margin-top: 10%;
        display: flex;
        justify-content: center;

        flex-direction: column;
    }

    .main-card{
        margin-top: 2%;
        padding-bottom: 5%;
    }

    .fa-medal, .fa-hand-holding-usd, .fa-chart-line, .fa-angle-double-up{
        color: #23d3d3;
        font-size: 2.5rem;
        margin-bottom: 2%;
    }

    .main-card a{
        transition: none 0s ease 0s;
        line-height: 24px;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        margin-top: 0;
        color:#00387a;
        font-weight: 500;
    }

    .main-card h2, .card-slide h3{
        color:#00387a;
        font-weight: bold;
    }

    .main-card a:hover{
        text-decoration: none;
        transition: ease-in color 0.2s;
        color:#23d3d3
    }

    #btn-invest{
        border-radius: 23px;
        border: 2px solid  #1e266d;
        background-color:transparent;
        color:#1e266d;
        padding: 13px 33px 13px 33px;
    }

    #btn-invest:hover{
        transition: ease-in 0.2s border;
        transition: color ease-in 0.2s;

        color: #19191a;
        border:2px white solid;
    }

    .second-section{
        width: 100%;
        background-color: #D6E7E7 ;
        padding-top: 5%;
    }

    .container-wrap{
        width:100%;
        display: flex;
        justify-content: center;
    }

    .content-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }


    @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 15px rgba(35, 211, 211, 0.7);
        }
        
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(35, 211, 211, 0.3);
        }
        
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(35, 211, 211, 0);
        }
    }
    

    .cirlce-content, .cirlce-content2, .cirlce-content3, .cirlce-content4, .cirlce-content5, .cirlce-content6{
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: center;
        width: 100px ;
        height: 100px ;
        border-radius: 50%;
       cursor: pointer;
        box-shadow: 0 0 0 0 #23d3d3;
        animation: pulse 2s infinite;
        margin-top: 3%;
        margin-bottom: 3%;
        overflow-y: hidden;
    
    }

    

    .cirlce-content .fa, .cirlce-content2 .fas, .cirlce-content3 .fas, .cirlce-content4 .fas, .cirlce-content5 .fas, .cirlce-content6 .fas{
     font-size: 1.7rem;
     color:#23d3d3;
    }

   

    .main-tab, .main-tab2, .main-tab3, .main-tab4, .main-tab5,  .main-tab6 {
        display: flex;
        width:100%;
        height: 0;
        visibility: hidden;
        transition: visibility 0.4s, height 0.5s linear;
        
    }

    .contain-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:auto;
        text-align: center;
        overflow-y: hidden;
      
    }

    .contain-title p{
        color:#00387a;
        font-weight: bold;
        text-align: center;
       word-wrap: break-word;
       overflow-y: hidden;
       line-height: 2rem;
    }

    .split-tab{
        width: 50%;
    }

    
    .split-tab h2{
        overflow-y: hidden;
    }


    .img-tab{
        background-image: url('./office.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-tab{
        padding-left: 3%;
        background-color: #00387a;
        color:white;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .content-tab p{
        width: 95%;
    }

    .signature img{
        max-width: 25%;
    }
   .click-show.click-show:active > .main-tab{
    opacity: 0;
   }

   #item-3{
       position: absolute;
       left: -999em;
   }

  
   
   .hidden {
     height: 100%;
    transition: height 0.5s linear;
    visibility: visible;
    transition: visibility 0.4s, height 0.5s linear;
    }

    .no-bg{
        background-color:#f3f7f9;
        margin-top: 0;
        padding-top: 1%;
    }

    .col-des{
        display:flex;
        flex-direction: column;
      
    }

    .about-us{
        width: 100%;
        display: flex;
        background: linear-gradient(to right,#1e266d , #23d3d3);
        justify-content: space-evenly;
      padding-bottom: 0;
    }

    .about-card{
        width:30%;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid white;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .second-about{
        padding-bottom: 3%;
    }

    .icon-div .fas{
        font-size: 1.8rem;
    }

    .icon-div{
        width:20%;
        margin-right: 3%;
        margin-top: 4%;
    }

    .text-center{
        background: linear-gradient(to right,#1e266d , #23d3d3);
        color:white;
        margin-bottom: 0;
        padding-top: 1%;
    }
   

    .content-div a{
        color:white;
        text-decoration: underline;
    }

    .content-div a:hover{
        text-decoration: none;
        color:white;
    }

    .secon-icon-div{
    
        margin-top: 1%;
        text-align: center;
    }

    .product-tab{
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
    }

    .product-card{
        display: flex;
        flex-direction: column;
        width:30%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: 10px 12px 10px#7f7f8046;
        padding-bottom: 5%;
    }

    .prime-title{
        color:#4ba5fa;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .dollar-title{
        color:#23d3d3;
        margin-bottom: 2%;
        font-weight: bold;
    }

    
.child-title{
    color:#8950FC;
    font-weight: bold;
    margin-bottom: 2%;
   
}

    

    .prdctimg-div{
       height: 250px;
        background: url('./prime.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .prd-bg2{
        background: url('./moneyplant.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
  
    }

    .prd-bg3{
        background: url('./child01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .procontent-div{
        padding-left: 4%;
        padding-top: 4%;
    }

    .procontent-div p{
        color:#19191a;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    } 

    .over-title{
        font-family: 'Lato',sans-serif;
        color:#23d3d3;
        font-weight: 700;
        font-size: 1.2rem;
    }

    
.wood-title{
    color:#1e266d;
    font-weight: 700;
    font-size: 1.2rem;
}



.testi-content{
    width: 100%;
    
}





  /*slider stuff*/

  .wrap-slider{
      display: flex;
      width:100%;
    
      flex-direction: row;
  }

  .testcontent-slide{
      width:100%;
  }

  .testimony-slides{
    overflow-y: hidden;
    padding-bottom: 1%;
    border-radius: 3px;
    width:33%;
    overflow-x: hidden;
}

.slider-section{
    width: 60%;
    box-shadow: 10px 10px 14px #19191a2f;
    position:relative;
}

.add-shadow{
    box-shadow: 10px 10px 14px #19191a2f;
    width: 50%;
}


.slider-section h5, 
.slider-section h1 {
    margin-left: 7%;
}

.slider{
    padding-top: 5%;
    position:relative;
    
}

.slider-section h1 {
    font-size: 2.7rem;
   
}
.slider-section h5 {
    color:rgb(114, 111, 111);
   
}

.testi-title{
   padding-left: 3%;
   padding-bottom: 2%;
 
   width:97%;
    
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   
}

.testcontent-slide p{
    width:75%;
}


.testimony-slides > i{
   font-size: 3.0rem;
   line-height: 1;
   color: #23d3d3;
   opacity: 0.2;
   position: relative;
   margin-right: 5%;
  float: right;
}


.testimony-slides p{
   margin-top: 17%;
   margin-left: 3%;
   width:90%;
   font-size: 0.89rem;
}

.fa-quote-right{
   color: #23d3d3;
   font-size: 3.0rem;
   line-height: 1;
   color: #23d3d3;
   opacity: 0.2;
   position: relative;
   margin-right: 5%;
  float: right;
}



.testi-title img{
    max-width: 100%;
    max-height:100px;
    margin-bottom: 4%;
}

.testi-title h4{
    color:#00387a;
    font-size: 1.1rem;
}

.testi-title h6{
    color:#23d3d3;
}


.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.steps-card{
    padding-bottom: 1%;
}

.steps h4{
    color:#00387a;
}


.steps .fas{
    margin-top: 4%;
    color:#1e266d;
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.steps a:hover{
   text-decoration: none;
}

.sm-over, .sm-wood{
    font-size: 1rem;
}

.paralax-bg{
    padding-top: 0;
    background-image: url('https://res.cloudinary.com/coltcopy/image/upload/v1601633560/sean-pollock-PhYq704ffdA-unsplash_svcxf3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.blog-bg1{
    background-image: url("https://res.cloudinary.com/coltcopy/image/upload/v1601639676/micheile-henderson-SoT4-mZhyhE-unsplash_egk9v7.jpg");
}

.blog-bg2{
    background-image: url("https://res.cloudinary.com/coltcopy/image/upload/v1601639942/black-dad-kids-money_ry7d81.jpg");
}

.blog-bg3{
    background-image: url('https://res.cloudinary.com/coltcopy/image/upload/v1601640422/istockphoto-1152603061-612x612_k5aogb.jpg');
}

.blog-div a:hover{
    text-decoration: none;
    transition: color ease-in 0.3s;
    color:#23d3d3;
}

.blog-div p{
   font-family: 'Lato', sans-serif;
   font-weight: bold;
}

/*footer side*/

.footer-container{
    display: flex;
    flex-direction: row;
    width:92%;
    justify-content: space-evenly;
    font-family:'Lato', sans-serif;
}

.footer-section{
    width:100%;
    display: flex;
justify-content: center;
    background-color:#00387a; 
    padding-top: 9%;
    padding-bottom: 9%;
}

.contacts{
    list-style: none;
    padding-left: 0;
}

.row-cards h2{
    color:white;
    margin-bottom: 9%;
    font-size: 1.7rem;
}
.row-cards{
    width:33%;
    color:white;
    text-align: left;
}

.row-cards a{
    font-size: 0.87rem;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-decoration: none;
}

.row-cards a:hover{
    color:#23d3d3;
    text-decoration: none;
}



.row-cards p{
    font-size: 0.97rem;
    margin-bottom: 5%;
  
}

 .fa-twitter, .fa-linkedin, .fa-instagram, .fa-facebook, .fa-youtube {
    color:#252525;
    width:100%;
}

.social-icons a{
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #4b4b4b;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    background-color: white;

}

.social-icons{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.little-title::after{
    position: absolute;
    left: 0;
    bottom: -6px;
    content: "";
    height: 1px;
    width: 45px;
    background: rgba(255, 255, 255, 0.2);   
}

#btn-subscribe{
    background-color: #23d3d3;
    color:white ;
    font-weight: bold;
    width:35%;
    line-height: 2rem;
}



/*footer bottom*/
.footer-bottom {
    background: #1e266d;
    padding: 18px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.none-style{
   display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}
.none-style a{
 color:white;
 }

 .none-style a:hover{
    color:rgb(226, 220, 220);
    text-decoration: none;
    }
   
.overlay-bg{
    padding-top: 5%;
    background-color: #222222a1;
}



/*media query time*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
  
   body,html{
       max-width: 100%;
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       overflow-x: hidden;
   }

   .first-section{
       display: flex;
       flex-direction: column;
       width:100%;
       margin-top: 50%;
   }

   .slider-part{
       width:100%;
   }

   .card-slide{
       width:80%;
       padding-left: 5%;
   }
    .main-card{
        width:80%;
        padding-left: 5%;
    }

    #navbg{
        width: 98%;
    }

    .image-side{
        display: none;
    }

    .content-tab {
        display: flex;
        flex-direction: column;
    }

    .product-card{
        width:100%;
        margin-bottom: 5%;
    }
.content-container{
    padding-left: 0;
    flex-direction: column;
}

.main-tab{
    flex-direction: column;
}
.split-tab{
    width: 100%;
}
.main-card, .card-slide{
    width:auto;
    justify-content: flex-start;
    padding-left: 0;
}
.split-tab h2{
    line-height: 3rem;
}


.footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-cards{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-bottom: 5%;
}

#btn-subscribe{
    width:40%;
    text-align: center;
}

.about-card{
    width:95%;
    margin-bottom: 6%;
}
.icon-div{
    width:40%;
}

.wrap-slider{
    flex-direction: column-reverse;
}

.slider-section{
    width:100%;
}

.testcontent-slide{
    text-align: left;
    width:100%;
    padding-right: 0;
}


.testcontent-slide p{
    width:100%;
}

  }



  @media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 787px){
  
   body,html{
       max-width: 100%;
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       overflow-x: hidden;
   }

   .header-section{
       padding-top: 0;
   }

   .first-section{
       display: flex;
       flex-direction: column;
       width:100%;
     
   }

   .slider-part{
       width:100%;
       height: 70vh;
   }

   .card-slide{
       width:80%;
       padding-left: 5%;
   }
    .main-card{
        width:80%;
        padding-left: 5%;
    }

    #navbg{
        width: 98%;
    }

    .image-side{
        display: none;
    }

    .content-tab {
        display: flex;
        flex-direction: column;
    }

    .product-card{
        width:100%;
        margin-bottom: 5%;
    }
.content-container{
    padding-left: 0;
    flex-direction: column;
}

.main-tab{
    flex-direction: column;
}
.split-tab{
    width: 100%;
}
.main-card, .card-slide{
    width:auto;
    justify-content: flex-start;
    padding-left: 0;
}
.split-tab h2{
    line-height: 3rem;
}


.footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-cards{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-bottom: 5%;
}

#btn-subscribe{
    width:40%;
    text-align: center;
}

.about-card{
    width:95%;
    margin-bottom: 6%;
}
.icon-div{
    width:40%;
}

.wrap-slider{
    flex-direction: column-reverse;
}

.slider-section{
    width:100%;
}

.testcontent-slide{
    text-align: left;
    width:100%;
    padding-right: 0;
}


.testcontent-slide p{
    width:100%;
}

  }



  @media only screen 
  and (min-device-width: 788px) 
  and (max-device-width: 1124px){
  
   .about-card{
       width:45%;
       margin-bottom: 4%;
   }

   .about-us{
       flex-wrap: wrap;
   }

   .icon-div{
       width: 60%;
   }
   .product-tab{
    flex-wrap: wrap;
   }
   .product-card{
       width:45%;
       margin-bottom: 4%;
   }
  }